@model ControledeAula.Models.Aluno

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Aluno</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlunoId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlunoId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota1)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota1)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota2)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota2)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota3)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota3)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nota4)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nota4)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NotaTotal)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NotaTotal)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Faltas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Faltas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Situacao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Situacao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { alunoId = Model.AlunoId }) |
    <a asp-action="Index">Back to List</a>
</div>
