@model IEnumerable<ControledeAula.Models.Aluno>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AlunoId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota1)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota3)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nota4)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Faltas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Situacao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AlunoId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota3)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nota4)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NotaTotal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Faltas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Situacao)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { alunoId=item.AlunoId  }) |
                @Html.ActionLink("Details", "Details", new { alunoId=item.AlunoId }) |
                @Html.ActionLink("Delete", "Delete", new { alunoId=item.AlunoId})
            </td>
        </tr>
}
    </tbody>
</table>
